body{ 
    background-color: hsl(219, 75%, 89%);
    font-family: sans-serif ;
}
.main{
    border: 0px solid red ;
    border-radius: 15px;
    text-align: center;
    background-color: white;
    font-weight: 700;
    font-size: 15px ;
    width: 11rem;
    align-content: center;
    margin: 5rem auto 1rem;
}
.image{
    border: 0px solid #2C7DFA;
    margin-top: 10px;
    padding-top: 16px;
}
img{
    width: 160px;
    border-radius: 4px;
}
.para{
    padding-right: 6px;
    padding-left: 6px;
    width:auto;
    display: block;
}
#p1{
    font-weight: 700;
    font-size: 15px ;
}
#p2{
    font-weight: 400;
    font-size: 11px ;
    color: hsl(214, 15%, 62%);
    padding: 1px;
    padding-bottom: 1.2rem;
}
.attribution {
     font-size: 11px; 
     text-align: center;
    }
.attribution a { color: hsl(228, 45%, 44%); }

@media screen and (max-width: 375px) {
    .main{
        border: opx solid red ;
        border-radius: 15px;
        text-align: center;
        background-color: white;
        font-size: 40px ;
        width: 16.5rem;
        height: 23.5rem;
        align-content: center;
        margin: 2rem auto 3rem;
    }
    .image{
        border: 0px solid #2C7DFA;
        margin: 0px;
        
    }
    img {
        width: 250px;
        border-radius: 15px;
        padding: auto;
    }
   .para{
        padding-right: 6px;
        padding-left: 6px;
        width:auto;
        display: block;
    }
    #p1{
        font-weight: 700;
        font-size: 15px ;
    }
    #p2{
        font-weight: 400;
        font-size: 11px ;
        color: hsl(215, 11%, 46%);
        padding: 1px;
        padding-bottom: 1.2rem;
    }
}